<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            background-color: black; /* Set background color to black */
            color: white; /* Set text color to white */
        }

        /* Ensure all cards have the same height */
        .card {
            min-height: 270px; /* Set a minimum height for the cards */
            background-color: white;
            color: black;
            height: 100%; /* Use 100% height for consistent box size */
        }
    </style>
</head>
<body>

    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">
            Cards Against Unhumanity
        </a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">My Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Log Out</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Greeting -->
    <div class="container mt-4">
        <h1>Hi, {{ username }}!</h1>
    </div>

    <!-- Cards -->
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-4 mb-4">
                <a href="/instructions" class="card bg-light text-decoration-none"> <!-- Anchor tag for linking -->
                    <div class="card-body">
                        <h5 class="card-title">Let's Play! 😈</h5>
                        <p class="card-text">Get ready to play!</p>
                    </div>
                </a>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card bg-light">
                    <a href="/about" class="card bg-light text-decoration-none"> <!-- Anchor tag for linking -->
                    <div class="card-body">
                        <h5 class="card-title">About the Algo ✏️</h5>
                        <p class="card-text">Learn about the algorithm.</p>
                    </div>
                    </a>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card bg-light">
                    <div class="card-body">
                        <h5 class="card-title">My Stats </h5>
                        <p class="card-text">View your stats and profile.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
