<!-- end_of_game.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>The End </title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        Cards Against Unhumanity
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Dashboard</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Log Out</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container mt-4">
    <h1>End of Game</h1>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Prompt</th>
                <th scope="col">Your Answer</th>
                <th scope="col">Emotion Score</th>
            </tr>
        </thead>
        <tbody>
            {% for data in game_data %}
            <tr>
                <td>{{ data.prompt }}</td>
                <td>{{ data.user_answer }}</td>
                <td>{{ data.emotion_score }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td><b>Total:</b></td>
                <td><b>{{ total_score }}</b></td>
            </tr>
        </tbody>
    </table>
</div>

</body>
</html>
