<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
  <!-- JS code for the navbar -->
  <script>
    function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
  </script>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #000;
      color: #fff;
      text-align: center;
      padding: 50px;
    }

    h1 {
      font-size: 3em;
      text-align: center;
    }

    p {
      margin-bottom: 20px;
    }

    .btn {
      background-color: #fff;
      color: #000;
      border: none;
      padding: 10px 20px;
      font-size: 1.1em;
      margin-right: 10px;
    }
  </style>
  <link rel="stylesheet" href="styles.css"> <!-- Link to your CSS file -->
</head>
<!-- navbar -->
<div class="topnav" id="myTopnav">
  <a href="/index" class="active">Home</a>
  <a href="/login">Login</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
<body>
  <h1>Welcome to Cards Against Humor</h1>
  <p>Choose an option:</p>
  <a href="/register" class="btn btn-primary">I'm New (Register)</a>
  <a href="/login" class="btn btn-primary">I'm Old (Login)</a>
</body>
</html>


